body {
	margin: 0;
}
#top {
	background-color: #EEEEEE;
}
header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 20px;
	background-color: #2d2d2d;
}
section#left {
	margin-top: 0;
	padding-top: 50;
    	float: left;
	width: 8%;
	height: 165%;
	background-color: #7EE5DA
}
section#left a:hover {
	background-color:white;
}
section#right {
	padding-top: 50;
	margin-top: 0;
    	float: right;
	width: 10%;
	height: 165%;
	background-color: #7EE5DA
}
input#email {
	width: 100%;
}
aside {
	padding-top: 50;
	margin-top: 0;
	float: left;
	width: 82%;
	height: 100%;
	background-color: white;
}
footer {
	clear: both;
	background-color: #2d2d2d;
	color: white;
	position: fixed;
	width: 100%;
	bottom: 0;
}
.blu {
	color: blue;
}
.red {
	color: red;
}
.ylw {
	color: yellow;
}
.grn {
	color: green;
}
p {
	padding-left: 75px;
	font-family: arial;
}
#leftdiv {
	position: fixed;
	width: 8%;
	height: 350px;
}
