main {
	margin: 0 auto;
	width: 25%;
}

main button {
	text-align: center;
}
body {
	font-family: arial;
	background-color: #FFFFFF;
	font-size: 20px;
	margin: 20px;
}
input {
	padding: 5px
	margin: 5px;
}
#saved {
	position: fixed;
	right: 20px;
	float: right;
	width: 200px;
	height: 600px;
	border: double;
}

.container {
  width: 500px;
  clear: both;
}

button {
	font-size: 18px;
	padding: 5px;
}

input[type=number], input[type=text] {
	width: 80%;
	clear: both;
	padding: 5px;
	margin: 5px;
	font-size: 18px;
}
select {
	font-size: 18px;
	width: 80%;
	padding: 5px;
	margin: 5px;
}

#radios {
	width: 100%;
	display: inline-block;
	/*font-size: 18px;*/
	height: 20%;
}

input[type="radio"] {
	margin-bottom: 5px;
}